main {
    margin-top: 56px;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    margin: 10px;
}

/* Recipe cards */
.card{
    margin: 20px 2rem 20px 1rem;
    padding: 10px;
}

/* Paginator nav */
#paginator-nav {
    margin-left: 16px;
}

/* Navbar */
@media screen and (min-width: 992px){
    #navbarSupportedContent {
        display: inline !important;
    }
}
