main {
    margin-top: 56px;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    margin: 10px;
}

img {
    float: left;
    margin: 5px 20px 5px 5px;
}

p {
    text-align: justify;
}

/* Navbar */
@media screen and (min-width: 992px){
    #navbarSupportedContent {
        display: inline !important;
    }
}

/* Sidebar */
#sidebar_container {
    position: fixed;
    z-index: 999;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    overflow: auto;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* Recipe cards */
.card{
    margin: 20px 2rem 20px 1rem;
    padding: 10px;
}

/* Paginator nav */
#paginator-nav {
    margin-left: 16px;
}

/* footer */
.footer {
    position: relative;
}

