{% extends "base.html" %}

{% block content %}

<h3 class="text-center">{{ title }}</h3>
{% if location == 'home' and user.is_authenticated %}
    <a href="{% url 'submit_recipe' %}"><button class="btn btn-success my-2 my-sm-0">Submit New Recipe</button></a>
{% endif %}
{% if filter_category and title != "Favourites" %}
    <form method="POST" action="{% url 'category_cud' 'home' 'delete' category.id 0 %}" class="my-2 my-lg-0">
        {% csrf_token %}
        <button class="btn btn-danger my-2 my-sm-0" type="submit">Delete Category</button>
    </form>
{% endif %}

{% for recipe, like in recipe_list %}

    <div class="card my-4">
        <div class="card-body">
            <a href="{% url 'recipe_detail' recipe.slug %}">
                <div class="row">
                    <div class="col">
                        <div class="clearfix">
                            <img src="{{ recipe.featured_image.url }}" class="col-3 w-100 rounded float-left">
                            <div class="d-inline">
                                <h1 class="recipe-title">
                                    {{ recipe.title }}
                                </h1>
                                {% if recipe.status == 0 %}
                                    <span>unpublished</span>
                                {% endif %}
                                <p class="recipe-subtitle">
                                    {{ recipe.created_on }} 
                                <p class="recipe-excerpt">
                                    {{ recipe.excerpt }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="row">
                <div class="col-1">
                    {% if user.is_authenticated %}
                    <form action="{% url 'recipe_like' location recipe.slug %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" name="recipe_id" value="{{ recipe.slug }}">
                            <i class="{% if like %} fas {% else %} far {% endif %} fa-heart"></i>
                        </button>
                    </form>
                    {% else %}
                    <span class="text-secondary"><i class="far fa-heart"></i></span>
                    {% endif %}
                    <span>{{ recipe.number_of_likes }}</span>
                </div>
                <div class="col-1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-folder-plus"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for category in categories %}
                        <form method="POST" action="{% url 'category_cud' 'home' 'add' category.id recipe.id %}"
                            class="dropdown-item my-2 my-lg-0">
                            {% csrf_token %}
                            <button class="btn btn-danger my-2 my-sm-0" type="submit">{{ category.title }}</button>
                        </form>
                        {% endfor %}
                    </div>
                </div>
                {% if filter_category %}
                <div class="col-1">
                    <form method="POST" action="{% url 'category_cud' 'view_category' 'remove' category.id recipe.id %}"
                            class="dropdown-item my-2 my-lg-0">
                            {% csrf_token %}
                        <button class="btn btn-danger my-2 my-sm-0" type="submit">Remove</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% empty %}
    {% if title == 'Recipe Feed'%}
    <p>No recipes yet! Add some and The Gourmand might publish them, if they prove quality enough!</p>
    {% elif title == 'Liked' %}
    <p>You haven't liked any recipes yet! Click on the like button in the feed to do so.</p>
    {% elif title == 'My Submitted Recipes' %}
    <p>You haven't submitted recipes yet! Add some with the button above</p>
    {% else %}
    <p>You haven't added any recipes to this category. Navigate the feed to add some!</p>
    {% endif %}
{% endfor %}
{% if is_paginated %}
<nav aria-label="Page navigation" id="paginator-nav">
    <ul class="pagination">
        <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
            <a class="page-link" {% if page_obj.has_previous %} href="?page={{ page_obj.previous_page_number }}" {% endif %} tabindex="-1">Previous</a>
        </li>
        {% for i in page_obj.paginator.page_range %}
        <li class="page-item">
            <a class="page-link {% if page_obj.number == i %} active {% endif %}" href="?page={{ i }}">{{ i }} 
                {% if page_obj.number == i %} <span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        {% endfor %}
        <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
            <a class="page-link" {% if page_obj.has_next %} href="?page={{ page_obj.next_page_number }}" {% endif %}>Next</a>
        </li>
    </ul>
</nav>
{% endif %}

{% endblock %}