{% extends "base.html" %}
{% load static %}

{% block main %}
<!-- Sidebar -->
<div class="d-none {% if user.is_authenticated %} d-md-block {% endif %} col-md-3 col-lg-2 
            position-fixed h-100 sidebar-nav" id="sticky-sidebar">
    <h3>Recipe Lists</h3>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_likes' %}">Liked</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_submitted' %}">My Submitted Recipes</a>
        </li>
        {% for category in categories %}
        <li class="nav-item {% if category.title == title %} active {% endif %} js_target">
            <a class="nav-link" href="{% url 'view_category' category.id %}">{{ category.title }}</a>
        </li>
        {% endfor %}
        <li class="nav-item">
            <form method="POST" action="{% url 'category_cud' location 'create' 0 0 %}" class="my-2 my-lg-0">
                {% csrf_token %}
                <input class="form-control mr-sm-2 my-2" type="Text" name='title' placeholder="Add new category" aria-label="Add new category">
                <button class="btn btn-dark my-2 my-sm-0" type="submit">Add Category</button>
            </form>
        </li>
    </ul>
</div>

<div class="d-none {% if user.is_authenticated %} d-block d-md-none {% endif %}" id="sidebar_container">
    <button type="button" id="sidebarCollapse" class="btn btn-info d-none {% if user.is_authenticated %} d-block d-md-none 
            {% endif %} position-relative ">
        <i class="fas fa-align-left"></i>
    </button>
    <div class="h-10 col-3 sidebar-nav" id="sidebar">
        <nav>
            <h3>Recipe Lists</h3>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_likes' %}">Liked</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_submitted' %}">My Submitted Recipes</a>
                </li>
                {% for category in categories %}
                <li class="nav-item {% if category.title == title %} active {% endif %} js_target">
                    <a class="nav-link" href="{% url 'view_category' category.id %}">{{ category.title }}</a>
                </li>
                {% endfor %}
                <li class="nav-item">
                    <form method="POST" action="{% url 'category_cud' location 'create' 0 0 %}" class="my-2 my-lg-0">
                        {% csrf_token %}
                        <input class="form-control mr-sm-2 my-2" type="Text" name='title' placeholder="Add new category" aria-label="Add new category">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Add Category</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="col-xs-12 col-sm-10 col-md-8 mx-auto mr-md-5 mx-lg-auto" id="main">
    {% block content %}
    {% endblock %}
</div>

<script src="{% static 'js/category_name_validator.js' %}"></script>
<script src="{% static 'js/sidebar_collapse.js' %}"></script>

{% endblock %}