{% extends "base.html" %}

{% block content %}

<div class="container">
    <section class="row">

        <div class="col background-white py-3">
            <div class="clearfix">
                <img src="{{ recipe.featured_image.url }}" class="col-4 w-100 rounded float-left">
                <div class="d-inline">
                    <h1 class="recipe-title">
                        {{ recipe.title }}
                    </h1>
                    <p class="recipe-subtitle">
                        Posted by {{ recipe.author }} 
                        <br>
                        {{ recipe.created_on }} 
                        {% if recipe.created_on != recipe.updated_on %} last edited {{ recipe.updated_on }} {% endif %}
                    </p>
                    <p class="recipe-excerpt">
                        {{ recipe.excerpt }}
                    </p>
                    <p class="recipe-text">
                        {{ recipe.content | safe }}
                    </p>
              </div>
        </div>
        <div class="row">
            <div class="col-1">
                {% if user.is_authenticated %}
                <form action="{% url 'recipe_like' 'recipe_detail' recipe.slug %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" name="recipe_id" value="{{ recipe.slug }}">
                        <i class="{% if liked %} fas {% else %} far {% endif %} fa-heart"></i>
                    </button>
                </form>
                {% else %}
                <span class="text-secondary"><i class="far fa-heart"></i></span>
                {% endif %}
                <span>{{ recipe.number_of_likes }}</span>
            </div>
            <div class="col-1">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-folder-plus"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in categories %}
                    <form method="POST" action="{% url 'category_cud' 'recipe_detail' 'add' category.id recipe.id %}"
                        class="dropdown-item my-2 my-lg-0">
                        {% csrf_token %}
                        <button class="btn btn-danger my-2 my-sm-0" type="submit">{{ category.title }}</button>
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
      
      
    </section>
</div>



{% endblock %}